.loginParishBg{
	background: url("/img/parish_bg.jpg") no-repeat;
	height:722px;
	display:inline;
}
.parishName{
	text-align:center;
	position: absolute;
	height: 100%; 
  	width: 100%; 
  	top: 0px; 
  	left: 0px; 
  	display: table;
}
.parishName1{
	    text-align: center;
    position: absolute;
    height: 85%;
    width: 100%;
    top: 105px;
    left: 0px;
    display: table;
}

.parishName h2{
	display: table-cell;
   vertical-align: middle;
  font-family: 'Righteous', cursive;
  font-size: 50px;
    color: #0651a2;
}

.parishName1 p{
	top:10px;
	display:table-cell;
	vertical-align: middle;
	font-family: 'Righteous', cursive;
	font-size:30px;
}

.mainDiv{
	padding:13%;
}
.mainDiv p{
	font-size: 20px;
	color: #0651a2;
}
.paraStyle{
	float:right;
	cursor: pointer;
}
.userName{
	float:right;
}
.userName p{
	padding-top: 6%;
}
.adminMain{
	background-color: aliceblue;
}
.adminMain h2{
	 font-family: 'Righteous', cursive;
    font-size: 40px;
    color: #0651a2;
}
.fnButtons{
	margin-top: 2%;
}
.buttonDiv{
	width:14%;
	white-space: nowrap;
}
.buttonDiv li{
	display:inline;
}
.fnButtons button{
	cursor:pointer;
	margin:7%;
	background-color: #29609d;
    border-color: #29609d;
}
.modaltitle{
	font-family: 'Righteous', cursive;
}
.labelStyle{
	font-weight: bold;
}
#parishList {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:5%;
}

#parishList td, #parishList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#parishList tr:nth-child(even){background-color: #f2f2f2;}

#parishList tr:hover {background-color: #ddd;}

#parishList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}